body {
  font-size: 16px;
  margin: 25px;
  background-color: bisque;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: purple;
  margin-bottom: 30px;
}

.cell-btn {
  background-color: white;
  color: black;
  font-size: 22px;
  font-weight: bold;
  height: 80px;
  width: 80px;
}

.grid-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .board {
    width: 60%;
  }
}
